* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(0, 0%, 81%);
  font-family: "Barlow Semi Condensed", sans-serif;
}

#testimonials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  max-width: 1100px;
  margin: 30px;
  gap: 20px;
  font-size: 13px;
}

/* Character Cards */
#daniel_card,
#jonathan_card,
#patrick_card {
  color: white;
}

#daniel_card {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background-color: hsl(263, 55%, 52%);
  background-image: url(images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position-x: 90%;
}

#jonathan_card {
  background-color: hsl(217, 19%, 35%);
}

#jeanette_card {
  background-color: white;
}

#patrick_card {
  grid-column: 2 / 4;
  background-color: hsl(219, 29%, 14%);
}

#kira_card {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
  background-color: white;
}

/* Profile */

.card {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.profile {
  display: flex;
}

.profile > img {
  border-radius: 50%;
  margin-right: 20px;
  height: 40px;
}

.profile > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile p {
  margin-top: 20px;
}

#testimonials p {
  margin-top: 20px;
}

.profile + p {
  font-size: 1.5em;
}

.profile > div :last-child {
  opacity: 50%;
}

.card > :last-child {
  opacity: 70%;
}

#daniel_card img,
#patrick_card img {
  border: 2px solid hsl(219, 132, 250);
}
